*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.logo{
    font-weight: 400px;
    font-size: 40px;
}
.text-primery{
    color: orange;
}
.btn-nav{
    width: 110px;
    height: 50px;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700px;
    border: 0;
    color: #FFFF;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
    
    
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
   
}
nav li{
    margin-left: 40px;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}
.banner{
    display: flex;
    margin: 0 150px;
    align-items: center;
}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600px;
    color: var(--Dark-02, #474747);
}
.banner-preimery-title{
    font-size: 85px;
    font-weight: 700px;
    color: var(--Dark-01, #181818);
}
.banner-des{
    width: 585px;
    font-size: 18px;
    color: var(--Dark-03, #757575);
    margin-bottom: 30px;
}